Source: minecraft-server
Maintainer: @Hebimalu0000 <@Hebimalu0000>
Build-Depends: cdbs, debhelper
Version: 1.0.0
Package: minecraft-server
Architecture: all
Description: This package is Download Minecraft Server
